<html>
<head>
    <title>$movie.getName()</TITLE>
<style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: black;}
</style>
</head>
<body>

<h1>$movie.getName()</h1>
<p>$movie.getDescription()</p>

</body>
</html>